<html>
    <body>
        <form action = "http://localhost:5000/result_2" method = "POST" enctype = "multipart/form-data">
            
            <p> 제목 <input type = "text" name = "Name"/></p>
            <p> 날짜 <input type = "date" name = "날짜" /></p>
            <p> 하고 싶은 일 <input type = "text"  name = "하고 싶은 일" /></p>
            
            
               <!--<p><textarea cols = "40" rows = "5"><textarea></p>-->
            
            <p>이뤄낸 일<input type = "text"  name = "이뤄낸 일" id ="이뤄낸 일" /></br>
    
            </p>
            
            <p> 오늘의 점수</br>
            상<input type = "radio" name = "오늘의 점수" value = 'Good' /><br/>
            중<input type = "radio" name = "오늘의 점수" value = 'SOSO' /><br/>
            하<input type = "radio" name = "오늘의 점수" value = 'BAD' />
            </p>
            
            
            <!--사진만 올리시오.</br><input type = "file" name = "file"/>-->
            <p><input type = "submit"  value="submit" /></p>
        </form>
    </body>
</html>

<!-- <input type = "file" name = "file"/> -->   